* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
header {
  width: 100%;
  max-width: 510px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px 28px 24px;
  position: relative;
}
.tablet-desktop-nav {
  display: none;
}
.burger-meniu {
  width: 100%;
  height: 252px;
  background-color: #ffffff;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 72px;
  left: 0;
  display: none;
}
.active {
  display: flex;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.navigation a {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
hr {
  width: 310px;
  height: 1px;
  background-color: #000000;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin: 20px 0 20px 0;
}
.invite {
  width: 310px;
  height: 48px;
  background: #000000;
  font-size: 15px;
  font-weight: 700;
  border: none;
  letter-spacing: 2.5px;
  color: #ffffff;
}
.get-invite {
  display: none;
}

/* styles for tablet  */

@media only screen and (min-width: 768px) {
  header {
    max-width: 705px;
    padding-left: 40px;
    padding: 0;
  }
  .burger-bar {
    display: none;
  }
  .line {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .tablet-desktop-nav {
    display: flex;
    gap: 37px;
    margin-left: 42px;
  }
  .tablet-desktop-nav a {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 2px;
    color: #000000;
  }
  .get-invite {
    display: block;
    width: 158px;
    height: 40px;
    font-weight: 700;
    background: #000000;
    border: none;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 50px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1440px) {
  header {
    max-width: 1180px;
    padding-left: 165px;
    padding: 0;
  }
  .tablet-desktop-nav {
    margin: 0 264px 0 252px;
  }
  .tablet-desktop-nav a:hover {
    color: #dfdfdf;
    cursor: pointer;
    transition: 0.3s;
  }
  .get-invite:hover {
    background: #dfdfdf;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
  }
}

/* footer section */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.desktop_footer {
  display: block;
}
.invition img {
  filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(102deg)
    brightness(102%) contrast(101%);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 56px 0px;
  max-width: 520px;
  transform: translatey(-6px);
  margin: 0 auto;
  width: 100%;
}
.footer_left_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social_icons {
  display: flex;
  column-gap: 13.33px;
  margin: 32px 0px;
}
.menu h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 19px;
}
.arrow {
  fill: none;
}
.invition {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  margin: 119px 0px 34px 0px;
}
.invition h6 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}
.Copyright {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.invition {
  height: 15px;
}
.main_footer,
.footer_right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desktop_logo {
  display: none;
}

.social_icons img,
.logo_mobile,
.tablet_footer_socials img {
  filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(102deg)
    brightness(102%) contrast(101%);
}
.social_icons img {
  cursor: pointer;
}
.facebook:hover {
  filter: invert(27%) sepia(92%) saturate(7469%) hue-rotate(258deg)
    brightness(95%) contrast(99%);
  transition: 0.3s;
}
.youtube:hover {
  filter: invert(30%) sepia(66%) saturate(5119%) hue-rotate(325deg)
    brightness(83%) contrast(99%);
  transition: 0.3s;
}
.twitter:hover {
  filter: invert(81%) sepia(44%) saturate(472%) hue-rotate(111deg)
    brightness(100%) contrast(107%);
  transition: 0.3s;
}
.pinterest:hover {
  filter: invert(98%) sepia(79%) saturate(2389%) hue-rotate(304deg)
    brightness(108%) contrast(93%);
  transition: 0.3s;
}
.instagram:hover {
  filter: invert(98%) sepia(79%) saturate(2389%) hue-rotate(304deg)
    brightness(108%) contrast(93%);
  transition: 0.3s;
}
.menu h4:hover {
  cursor: pointer;
  opacity: 0.3;
  transition: 0.3s;
}
.invition h6:hover {
  cursor: pointer;
  border-bottom: 6px;
  border-color: rebeccapurple;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 768px) {
  .footer_left_side {
    align-items: flex-start;
  }
  .tablet_footer_socials {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 75px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    column-gap: 26px;
    margin-top: 13px;
  }
  .social_icons {
    margin: 0;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 64px 40px;
    width: 100vw;
    max-width: 100%;
    transform: translateY(0px);
  }
  .main_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .invition {
    margin: 0;
  }
  .footer_right_side,
  .Copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 115px;
    align-items: end;
  }
}
@media (min-width: 1440px) {
  .desktop_footer img {
    display: block;
  }
  .tablet_footer_socials {
    flex-direction: row;
    align-items: flex-end;
    column-gap: 125px;
  }
  .logo_mobile {
    transform: translateY(30px);
  }
  .menu {
    margin: 0;
    flex-direction: column;
  }
  .logo_mobile {
    display: none;
  }
  .desktop_footer {
    display: flex;
    row-gap: 87px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
