* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
header {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 24px 28px 24px;
    position: relative;
}

.burger-meniu {
    width: 100%;
    height: 252px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 72px;
    left: 0;
    display: none;
}
.active {
    display: flex;
}
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.navigation a {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}
hr {
    width: 310px;
    height: 1px;
    background-color: #000000;
    margin: 20px 0 20px 0;
}
.invite {
    width: 310px;
    height: 48px;
    background: #000000;
    font-size: 15px;
    font-weight: 700;
    border: none;
    letter-spacing: 2.5px;
    color: #ffffff;
}