* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* styles for mobile */


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 100%;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-img {
  width: 100%;
  max-width: 600px;
  height: 294px;
  background-image: url(../assets/features/mobile/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  width: 100%;
  height: 300px;
  background: #000000;
  padding: 72px 0 0 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
.purple-line {
  width: 128px;
  height: 6px;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  position: absolute;
  top: 0;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}
.description p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 318px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.section {
  width: 100%;
  height: 230px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #000000;
  margin: 48px 0 16px 0;
}
.section p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 310px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.invite_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 520px;
  margin-top: 200px;
}
.rock_img_mobile {
  background-image: url(../assets/shared/mobile/bg-beta.jpg);
  width: 100%;
  height: 288px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.invite_absolute h1 {
  margin-top: 58px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}
.invite_absolute {
  padding-left: 33px;
}

.arrow_div {
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 2px;
  color: #ffffff;
  column-gap: 16px;
  margin-top: 24px;
  justify-content: center;
}
.arrow_div img,
.invition img {
  filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(102deg)
    brightness(102%) contrast(101%);
}
.colorful_column,
.tablet_hero,
.tablet,
.tablet_compare,
.tablet_features,
.rock_img_tablet,
.desktop {
  display: none;
}

/* styles for tablet */




@media only screen and (min-width: 768px) {
  main {
    width: 100%;
    max-width: 1440px;
  }
  .features {
    flex-direction: row-reverse;
    width: 100%;
    height: 490px;
  }
  .description {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .descripion-container {
    margin-left: -24px;
  }
  .purple-line {
    width: 6px;
    height: 144px;
    top: 180px;
    left: 0;
  }
  .hero-img {
    height: 100%;
    width: 410px;
    background-image: url(../assets/features/tablet/hero.jpg);
  }
  .section {
    width: 340px;
    margin-bottom: 70px;
  }
  .no-limit h3 {
    margin-top: 85px;
  }
  .section p {
    width: 340px;
  }
  .sections-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
  }
}






@media only screen and (min-width: 1440px) {
    main {
        max-width: 100vw;
    }
    .features {
        width: 100%;
        height: 610px;
    }
    .description {
        height: 100%;
        width: 40%;
    }
    .hero-img {
        background-image: url(../assets/features/desktop/hero.jpg);
        background-size: cover;
        min-width: 60%;
    }
    .purple-line {
        top: 234px;
    }
    .descripion-container p {
        width: 388px;
        margin-top: 20px;
    }
    .sections-container {
        gap: 30px;
        max-width: 1100px;
    }
    .section p {
        width: 350px;
    }
}