@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 56px 0px;
  width: 100vw;

  transform: translatey(-6px);
}
svg path {
  fill: #ffff;
}
.logo_fill {
  fill: url(#a);
}
.social_icons {
  display: flex;
  column-gap: 13.33px;
  margin: 32px 0px;
}
.menu h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 19px;
}
.arrow {
  fill: none;
}
.invition {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  margin: 119px 0px 34px 0px;
}
.invition h6 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}
.Copyright {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.social_icons img,
.logo_mobile {
  filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(102deg)
    brightness(102%) contrast(101%);
}
@media (min-width: 768px) {
  .tablet_footer_socials {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 73px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    column-gap: 26px;
    margin-top: 13px;
  }
  .social_icons {
    margin: 0;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 64px 40px;
  }
  .invition {
    margin: 0;
  }
  .footer_right_side,
  .Copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 120px;
    align-items: end;
  }
}
