@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.pricing_main_absolute {
  height: 6px;
  width: 128px;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
.middle_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 28px 0px 28px;
  margin-left: 25px;
  background-color: #ffffff;
  width: 100vw;
}
.hero_mobile {
  width: 100vw;
}
.pricing_main {
  background: #000000;
  transform: translatey(-5px);
  padding-left: 29px;
  width: 100vw;
}
.pricing_main_relative h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  margin-top: 72px;
  color: #ffffff;
}
.pricing_main_relative p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 72px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.middle_parent_switcher {
  background: #dfdfdf;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 4px;
}
.middle_parent_switcher div {
  background-color: #000000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.middle_switcher {
  display: flex;
  margin-bottom: 16px;
  column-gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68vw;
}
.move_right {
  transform: translateX(32px);
}
.move_left {
  transform: translateX(0px);
}

.monthly {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  opacity: 1;
}
.monthly_sec {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.yearly {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.active {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  opacity: 1;
}
.nonactive {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.offer_price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}
.offer_type {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.offer_brif {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 18px;
}
.offer_duration {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.offer_btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: #000000;
  padding: 12px 81px;
  border: 0;
  margin-top: 40px;
}
.middle_basic,
.middle_pro,
.middle_business {
  padding: 56px 22px 40px 22px;
  width: 84.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  margin-top: 24px;
}
.middle_pro {
  background: #000000;
}
.middle_pro h1,
.middle_pro h4,
.middle_pro p,
.middle_pro h2 {
  color: #ffffff;
}
.middle_pro button {
  color: #000000;
  background-color: #ffffff;
  border: 0;
}
.solid_line {
  border: 1px solid #000000;
  height: 1px;
  width: 84.8vw;
}
.feature_checkout {
  display: flex;
  column-gap: 70px;
  margin-top: 16px;
  width: 100%;
}
.middle_features h4 {
  margin-top: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  width: 100%;
}
.middle_features {
  width: 84.8vw;
}
.feature_bottom_line {
  border: 1px solid #dfdfdf;
  height: 1px;
  width: 318px;
  margin-top: 24px;
  width: 100%;
}
.check_img {
  margin-top: 8px;
}
.feature_checkout div h6 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1.66667px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.feature_checkout div {
  width: 100%;
}
.feature_brif {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  width: 100%;
}
.invite_section {
  background-image: url();
}
.rock_img {
  width: 100%;
}
.invite_section {
  position: relative;
  width: 100vw;
}
.invite_absolute {
  position: absolute;
  top: 0;
  left: 34px;
}
.invite_absolute h1 {
  margin-top: 58px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}

.arrow_div {
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 2px;
  color: #ffffff;
  column-gap: 16px;
  margin-top: 24px;
  justify-content: center;
}
.arrow_div img,
.invition img {
  filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(102deg)
    brightness(102%) contrast(101%);
}
@media (min-width: 768px) {
  .mobile_hero {
    display: none;
  }
  .tablet_hero_pricing {
    display: flex;
  }
  .pricing_main {
    width: 64.45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .tablet_hero {
    width: 35.55vw;
  }
  .pricing_main_absolute {
    display: none;
  }
  .pricing_main_relative {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .colorful_column {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 6px;
    height: 144px;
    margin-right: 48px;
  }
}
