@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.pricing_main_absolute {
  height: 6px;
  width: 128px;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
.middle_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 28px 0px 28px;
  margin-left: 25px;
  background-color: #ffffff;
  max-width: 520px;
}
/* .hero_mobile {
  width: 580px;
} */
.mobile_hero {
  background-image: url(../assets/pricing/mobile/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 294px;
  width: 100%;
}
.tablet_hero_pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
}
.pricing_main {
  background: #000000;
  transform: translatey(-6px);
  padding-left: 29px;
  max-width: 100%;
}
.pricing_main_relative h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  margin-top: 72px;
  color: #ffffff;
}
.pricing_main_relative p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 72px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.middle_parent_switcher {
  background: #dfdfdf;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 4px;
}
.middle_parent_switcher div {
  background-color: #000000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.middle_switcher {
  display: flex;
  margin-bottom: 16px;
  column-gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68vw;
}
.move_right {
  transform: translateX(32px);
}
.move_left {
  transform: translateX(0px);
}

.monthly {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  opacity: 1;
}
.monthly_sec {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.yearly {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.active {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  opacity: 1;
}
.nonactive {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.offer_price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}
.offer_type {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.offer_brif {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 18px;
}
.desktop_middle {
  width: 100%;
}
.offer_duration {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.offer_btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: #000000;
  padding: 12px 81px;
  border: 0;
  margin-top: 40px;
}
.middle_basic,
.middle_pro,
.middle_business {
  padding: 56px 22px 40px 22px;
  width: 84.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  margin-top: 24px;
  width: 100%;
}
.middle_pro {
  background: #000000;
}
.middle_pro h1,
.middle_pro h4,
.middle_pro p,
.middle_pro h2 {
  color: #ffffff;
}
.middle_pro button {
  color: #000000;
  background-color: #ffffff;
  border: 0;
}
.solid_line {
  border: 1px solid #000000;
  height: 1px;
  width: 100%;
}
.feature_checkout {
  display: flex;
  column-gap: 70px;
  margin-top: 16px;
  width: 100%;
}
.middle_features h4 {
  margin-top: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  width: 100%;
}
.middle_features {
  width: 100%;
}
.feature_bottom_line {
  border: 1px solid #dfdfdf;
  height: 1px;
  width: 318px;
  margin-top: 24px;
  width: 100%;
}
.check_img {
  margin-top: 8px;
}
.feature_checkout div h6 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1.66667px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.feature_checkout div {
  width: 100%;
}
.feature_brif {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  width: 100%;
}

.rock_img {
  width: 100%;
}
.invite_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 520px;
  margin-top: 200px;
}
.rock_img_mobile {
  background-image: url(../assets/shared/mobile/bg-beta.jpg);
  width: 100%;
  height: 288px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.invite_absolute h1 {
  margin-top: 58px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}
.invite_absolute {
  padding-left: 33px;
}

.arrow_div {
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 2px;
  color: #ffffff;
  column-gap: 16px;
  margin-top: 24px;
  justify-content: center;
}
.arrow_div img,
.invition img {
  filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(102deg)
    brightness(102%) contrast(101%);
}
.colorful_column,
.tablet_hero,
.tablet,
.tablet_compare,
.tablet_features,
.rock_img_tablet,
.desktop {
  display: none;
}
@media (min-width: 768px) {
  .mobile_hero,
  .offer_btn,
  .pricing_main_absolute {
    display: none;
  }
  .tablet_hero_pricing {
    display: flex;
    height: 490px;
    flex-direction: row;
    max-width: 100vw;
    width: 100%;
  }
  .pricing_main {
    transform: translateY(0);
  }
  .tablet_hero {
    display: flex;
    width: 35.55%;
    height: 490px;
  }
  .tablet_hero img {
    width: 100%;
    height: 100%;
  }
  .middle_features,
  .middle_business,
  .middle_pro,
  .middle_basic {
    width: 689px;
    justify-content: center;
    align-items: center;
  }
  .middle_features {
    margin-bottom: 180px;
  }

  .tablet,
  .rock_img_tablet,
  .tablet_compare {
    display: block;
  }
  .middle_main {
    margin: 64px 0px 0px 0px;
    max-width: 768px;
  }
  .rock_img_tablet {
    width: 100%;
  }
  .tablet {
    width: 100%;
  }
  .pricing_main,
  .colorful_column {
    width: 64.45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .tablet_hero {
    width: 35.55%;
    transform: translateX(-1px);
  }

  .pricing_main_relative {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 490px;
    width: 100%;
  }
  .tablet_invite_colorful {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 6px;
    height: 280px;
  }
  .colorful_column {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 6px;
    height: 144px;
    margin-right: 48px;
  }
  .middle_basic,
  .middle_pro,
  .middle_business {
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: flex-start;
    column-gap: 154px;
    width: 689px;
  }
  .middle_pro {
    position: relative;
  }
  .colorful_column_tablet {
    position: absolute;
    left: 0;
    top: 0;
  }
  .tablet_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35.15vw;
  }
  .offer_brif {
    text-align: start;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  .offer_price {
    margin: 0;
  }
  .tablet_feature_header h4 {
    margin: 0;
  }
  .tablet_feature_header {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  .tablet_features {
    display: flex;
    margin-right: 27px;
  }
  .feature_checkout div h6 {
    display: none;
  }
  .feature_checkout {
    column-gap: 110px;
  }
  .desktop_middle {
    width: 689px;
  }
  .invite_section {
    max-width: 100vw;
  }
  .tablet_features p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
    width: 130px;
  }
  .feature_brif {
    margin-right: 104px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
  }
  .features_checkout {
    display: flex;
    width: 603px;
  }
  .solid_line {
    width: 100%;
  }
  .tablet_compare {
    margin: 102px 0px 64px 0px;
  }
  .rock_img_mobile {
    flex-direction: row;
    justify-content: center;
    background-image: url(../assets/shared/tablet/bg-beta.jpg);
    width: 100vw;
    max-width: 100%;
    align-items: start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .tablet_rockimg {
    display: flex;
  }
  .tablet_compare h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #000000;
  }
  .invite_absolute {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 123px;
    padding-left: 0;
    height: 280px;
  }

  .colorful_column_tablet {
    width: 6px;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    height: 279px;
  }
  .tablet_info_business {
    margin-left: 34px;
    margin-right: 154px;
  }

  .invite_absolute h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #ffffff;
    width: 52.08%;
    margin: 0;
  }
  .arrow_div h6 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color: #ffffff;
  }

  .arrow_div {
    margin-right: 40px;
  }
}
@media (min-width: 1440px) {
  .tablet_hero_img {
    display: none;
  }
  .tablet_hero {
    width: 57.63vw;
  }
  .pricing_main {
    width: 42.37vw;
  }
  .desktop {
    display: block;
  }
  .desktop_middle {
    display: flex;
    flex-direction: row;
    column-gap: 410px;
    position: relative;
    width: 1110px;
  }
  .middle_basic,
  .middle_business,
  .middle_pro {
    width: 350px;
  }
  .middle_basic,
  .middle_pro,
  .middle_business {
    padding: 56px 22px 40px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    margin-top: 24px;
    column-gap: 0;
  }
  .middle_pro {
    background: #000000;
  }
  .offer_btn {
    display: block;
  }
  .tablet {
    display: none;
  }
  .tablet_info {
    width: 270px;
    align-items: center;
  }
  .middle_main {
    width: 1110px;
    max-width: 100%;
  }
  .middle_pro {
    margin: 0;
    position: absolute;
    top: 0;
    left: 34.5%;
    height: 470px;
  }
  .colorful_column_tablet {
    height: 470px;
  }
  .tablet_compare {
    margin-top: 160px;
  }
  .middle_basic,
  .middle_business {
    margin-top: 50px;
  }
}
